.footer {
    padding: 86px 0;
    background: #FAFAFA;
}

.footer__cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.footer__adress {
    max-width: 259px;
    width: 100%;
}

.footer__services {
    max-width: 254px;
    width: 100%;

    & .footer__title {
        padding-bottom: 28px;
    }
}

.footer__media {
    max-width: 122px;
    width: 100%;
    margin-right: 142px;
}

.footer__adress-item {
    font-size: 12px;
    line-height: 150%;
    color: #101010;
}

.footer__media .footer__list {
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding-bottom: 20px;
}

.footer__icons {
    display: flex;
    gap: 12px;
}

.footer__author {
    font-size: 12px;
    line-height: 150%;
    color: #101010;
}

@media (width < 1112px) {
    .footer__author {
        margin-top: 100px;
    }
}
