.header {
    height: 100dvh;
    background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%),  url(../img/Header/Rectangle\ 3.png) no-repeat center center / cover;
    display: flex;
    flex-direction: column;
}

.header > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    gap: 39px;
}

.nav {
    padding-top: 58px;
}

.nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__brand {
    display: flex;
    gap: 7px;
    display: flex;
    align-items: center;
}

.nav__logo {
    width: 29px;
}

.nav__txt {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
}

.nav__list {
    display: flex;
    gap: 23px;
}

@media (width < 992px) {
    .nav__list {
        display: none;
    }
}

.nav__link {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}

.nav__form {
    display: flex;
    align-items: center;
    gap: 11px;
}

.nav__form-icon {
    width: 32px;
}

.nav__form-lng {
    background: transparent;
    border: none;
}

/* @media (width < 992px) {
    .nav__form-lng {
        display: none;
    }

    .nav__form-icon {
        display: none;
    }
} */

.nav__form-btn {
    padding-left: 9px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #fff;
    width: 100px;
    padding: 12px 0;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
        background: #fff;
        color: #ed4c5c;
    }
}

.header__title {
    font-size: clamp(30px, 6vw, 72px);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff; 
}

.header__subtitle {
    font-weight: 600;
    font-size: clamp(13px, 6vw, 24px);
    line-height: 150%;
    text-align: center;
    color: #fff;
    max-width: 540px;
}

.header__btn {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    width: 160px;
    padding: 17px 0;
    border-radius: 6px;
    text-align: center;
    border: 1px solid #fff;
    transition: 0.4s;
    

    &:hover {
        background: #fff;
        color: #ed4c5c;
    }
}

.nav__burger {
    display: none;
}

@media (width < 992px) {
    .nav__burger {
        display: flex;
        width: 50px;
        height: 50px;
        align-items: center;
        position: relative;
        margin-left: auto;
    }

    .nav__burger-line {
        width: 30px;
        height: 3px;
        border-radius: 2px;
        background: #d6d6d6;
        position: relative;

        &::before,
        &::after {
            content: "";
            position: absolute;
            background: inherit;
            width: inherit;
            height: inherit;
            left: 0;
            border-radius: 2px;
        }

        &::before {
            top: -10px;
            width: 20px;
        }

        &::after {
            top: 10px;
            width: 40px;
        }
    }
}


